In [1]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\khushi rajput\anaconda3\lib\site-packages (1.6.14)
Requirement already satisfied: six>=1.10 in c:\users\khushi rajput\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\khushi rajput\anaconda3\lib\site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\users\khushi rajput\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\khushi rajput\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\khushi rajput\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\khushi rajput\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\khushi rajput\anaconda3\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in c:\users\khushi rajput\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\khushi rajput\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\khushi rajput\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\khushi rajput\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\khushi rajput\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\khushi rajput\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\khushi rajput\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#import libraries
#import kaggle
import kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
#extracting file from zip file 
import zipfile 
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall()  #extracting file to dir
zip_ref.close()

In [4]:
#reading data from the file
import pandas as pd
df = pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [5]:
#renaming columns in lower case and replacing space with underscore
#df.rename(columns={'Order Id' : 'order_id', 'City':'city'})
df.columns = df.columns.str.lower()
df.columns =df.columns.str.replace(' ','_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [6]:
#derive new columns discount in rs. for example- 2% of 260 is 5.2

df['discount']=df['list_price']*df['discount_percent']*.01
df.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount            float64
dtype: object

In [7]:
#new columns -> sale price = list price - discount 
df['sale_price']= df['list_price']-df['discount']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8

In [8]:
# profit = sp - cp
df['profit'] = df['sale_price'] - df['cost_price']
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [30]:
#conversion of order date from data type to date
df['order_date'] = pd.to_datetime(df['order_date'],format='%Y-%m-%d')
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [31]:
#drop cost, list and discount per columns 
df.drop(columns=['cost_price','list_price','discount_percent'])

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

In [32]:
#load data into sql server using replace option 
import pandas as pd
import sqlalchemy as sal
enigne = sal.create_engine

In [33]:
pip install pandas sqlalchemy psycopg2

Requirement already satisfied: pandas in c:\users\khushi rajput\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: sqlalchemy in c:\users\khushi rajput\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: psycopg2 in c:\users\khushi rajput\anaconda3\lib\site-packages (2.9.9)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\khushi rajput\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\khushi rajput\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\khushi rajput\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\khushi rajput\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\khushi rajput\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\users\khushi rajput\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [34]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\khushi rajput\anaconda3\lib\site-packages (4.0.34)Note: you may need to restart the kernel to use updated packages.

In [35]:
pip install pandas sqlalchemy psycopg2 pyodbc

Requirement already satisfied: pandas in c:\users\khushi rajput\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: sqlalchemy in c:\users\khushi rajput\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: psycopg2 in c:\users\khushi rajput\anaconda3\lib\site-packages (2.9.9)
Requirement already satisfied: pyodbc in c:\users\khushi rajput\anaconda3\lib\site-packages (4.0.34)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\khushi rajput\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\khushi rajput\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\khushi rajput\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\khushi rajput\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\khushi rajput\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\users\khushi rajput\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [42]:
import pandas as pd
from sqlalchemy import create_engine
import pyodbc

In [43]:
postgresql_conn_str = 'postgresql+psycopg2://postgres:1234@localhost:5432/server'
postgresql_engine = create_engine(postgresql_conn_str)
#conn=engine.connect()

In [37]:
sql_server_conn_str = (
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=your_server_name;'
    'DATABASE=your_database_name;'
    'UID=your_username;'
    'PWD=your_password'
)
sql_server_engine = create_engine(f'mssql+pyodbc:///?odbc_connect={sql_server_conn_str}')

In [44]:
# Database connection parameters
username = 'postgres'
password = '1234'
host = 'localhost'
port = '5433'
database = 'postgres'

# Create the connection string
connection_string = f'postgresql+psycopg2://postgres:1234@localhost:5433/postgres'

# Create the SQLAlchemy engine
engine = create_engine(connection_string)

In [48]:
# Define the table name
table_name = 'df_orders'

# Load the data into the PostgreSQL database
df.to_sql('df_orders', engine, if_exists='append', index=False)
print("Data loaded successfully into PostgreSQL database.")

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "list_price" of relation "df_orders" does not exist
LINE 1: ..., category, sub_category, product_id, cost_price, list_price...
                                                             ^

[SQL: INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, cost_price, list_price, quantity, discount_percent, discount, sale_price, profit) VALUES (%(order_id)s, %(order_date)s, %(ship_mode)s, %(segment)s, %(country)s, %(city)s, %(state)s, %(postal_code)s, %(region)s, %(category)s, %(sub_category)s, %(product_id)s, %(cost_price)s, %(list_price)s, %(quantity)s, %(discount_percent)s, %(discount)s, %(sale_price)s, %(profit)s)]
[parameters: ({'order_id': 1, 'order_date': datetime.datetime(2023, 3, 1, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Henderson', 'state': 'Kentucky', 'postal_code': 42420, 'region': 'South', 'category': 'Furniture', 'sub_category': 'Bookcases', 'product_id': 'FUR-BO-10001798', 'cost_price': 240, 'list_price': 260, 'quantity': 2, 'discount_percent': 2, 'discount': 5.2, 'sale_price': 254.8, 'profit': 14.800000000000011}, {'order_id': 2, 'order_date': datetime.datetime(2023, 8, 15, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Henderson', 'state': 'Kentucky', 'postal_code': 42420, 'region': 'South', 'category': 'Furniture', 'sub_category': 'Chairs', 'product_id': 'FUR-CH-10000454', 'cost_price': 600, 'list_price': 730, 'quantity': 3, 'discount_percent': 3, 'discount': 21.900000000000002, 'sale_price': 708.1, 'profit': 108.10000000000002}, {'order_id': 3, 'order_date': datetime.datetime(2023, 1, 10, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Corporate', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90036, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Labels', 'product_id': 'OFF-LA-10000240', 'cost_price': 10, 'list_price': 10, 'quantity': 2, 'discount_percent': 5, 'discount': 0.5, 'sale_price': 9.5, 'profit': -0.5}, {'order_id': 4, 'order_date': datetime.datetime(2022, 6, 18, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Fort Lauderdale', 'state': 'Florida', 'postal_code': 33311, 'region': 'South', 'category': 'Furniture', 'sub_category': 'Tables', 'product_id': 'FUR-TA-10000577', 'cost_price': 780, 'list_price': 960, 'quantity': 5, 'discount_percent': 2, 'discount': 19.2, 'sale_price': 940.8, 'profit': 160.79999999999995}, {'order_id': 5, 'order_date': datetime.datetime(2022, 7, 13, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Fort Lauderdale', 'state': 'Florida', 'postal_code': 33311, 'region': 'South', 'category': 'Office Supplies', 'sub_category': 'Storage', 'product_id': 'OFF-ST-10000760', 'cost_price': 20, 'list_price': 20, 'quantity': 2, 'discount_percent': 5, 'discount': 1.0, 'sale_price': 19.0, 'profit': -1.0}, {'order_id': 6, 'order_date': datetime.datetime(2022, 3, 13, 0, 0), 'ship_mode': None, 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'category': 'Furniture', 'sub_category': 'Furnishings', 'product_id': 'FUR-FU-10001487', 'cost_price': 50, 'list_price': 50, 'quantity': 7, 'discount_percent': 3, 'discount': 1.5, 'sale_price': 48.5, 'profit': -1.5}, {'order_id': 7, 'order_date': datetime.datetime(2022, 12, 28, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Art', 'product_id': 'OFF-AR-10002833', 'cost_price': 10, 'list_price': 10, 'quantity': 4, 'discount_percent': 3, 'discount': 0.3, 'sale_price': 9.7, 'profit': -0.3000000000000007}, {'order_id': 8, 'order_date': datetime.datetime(2022, 1, 25, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'category': 'Technology', 'sub_category': 'Phones', 'product_id': 'TEC-PH-10002275', 'cost_price': 860, 'list_price': 910, 'quantity': 6, 'discount_percent': 5, 'discount': 45.5, 'sale_price': 864.5, 'profit': 4.5}  ... displaying 10 of 9994 total bound parameter sets ...  {'order_id': 9993, 'order_date': datetime.datetime(2022, 11, 19, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Costa Mesa', 'state': 'California', 'postal_code': 92627, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Paper', 'product_id': 'OFF-PA-10004041', 'cost_price': 30, 'list_price': 30, 'quantity': 4, 'discount_percent': 3, 'discount': 0.9, 'sale_price': 29.1, 'profit': -0.8999999999999986}, {'order_id': 9994, 'order_date': datetime.datetime(2022, 7, 17, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Westminster', 'state': 'California', 'postal_code': 92683, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Appliances', 'product_id': 'OFF-AP-10002684', 'cost_price': 210, 'list_price': 240, 'quantity': 2, 'discount_percent': 3, 'discount': 7.2, 'sale_price': 232.8, 'profit': 22.80000000000001})]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
df.columns

In [1]:
#df.to_sql('order.csv', postgresql_engine, if_exists='append', index=False)